<!doctype html>
<html lang="CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/components-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/pure/pure-nr-min.css">
    <%- include('../pages/' + site + '/' + page + '/res/res.' + page + '_css.ejs'); %>
</head>
<body>
    <% if (header) { %>
        <%- include('../layouts/header_backstage') %>
    <% } %>

    <%- include('../pages/' + site + '/' + page + '/' + page); %>

    <!--<% if (footer) { %>-->
    <!--<%- include('../layouts/footer') %>-->
    <!--<% } %>-->

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/components-bootstrap/js/bootstrap.min.js"></script>
    <script src="../bower_components/vue/dist/vue.js"></script>
    <script src="../scripts/common.js"></script>
    <%- include('../pages/' + site + '/' + page + '/res/res.' + page + '_js.ejs'); %>
</body>
</html>